{% extends '__base__.html' %}

{% block title %}员工福利{% endblock %}

{% block beforehead %}

<script>
    function select_gift(id){
        $.ajax({
            url:'/api/activity/gift/' + id + '/select',
            type:'get',
            success:function(rt){
                console.log(rt)
                // UIkit.modal.alert("您选择的礼物为：" + rt.gift.name)
                refresh()
            }
        })
    }

</script>

{% endblock %}

{% block content %}

<ul class="uk-breadcrumb">
    <li><a href="/">活动</a></li>
    <li><span>{{ activity.name }}</span></li>
</ul>
<div class="uk-grid">
    {% for gift in gifts %}
    <div class="uk-width-medium-1-5 ">
        <div class="uk-panel uk-panel-space">
            <h3 class="uk-panel-title">{{gift.name}}</h3>
            <div class="uk-panel-teaser">
                <img src="../{{gift.image}}" alt="">
            </div>  
            {% if __user__ %}
            <a class="uk-button uk-button-primary" href="#" onclick="select_gift('{{gift.id}}');">选择</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% if __user__ %}
<div>您选择的礼物</div>
<div class="uk-grid">
    {% for user_gift in user_gifts %}
    <div class="uk-panel uk-panel-box uk-panel-space uk-width-1-5">
            
            <div class="uk-panel-teaser">
                <img src="../{{user_gift.gift_image}}" alt="">
            </div>  
            <h3 class="uk-panel-title">{{user_gift.gift_name}}</h3>
        </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
